* {
    padding: 0;
    margin: 0;
}

/* common shared style  */
section {
    margin-bottom: 130px;
}

.section-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}


.btn-primary {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: 0;
    margin-top: 30px;
}

/* banner section start  */
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Banner\ Image.png");
    height: 600px;
    width: 1320px;
    margin: auto;
    position: relative;
    text-align: center;
    margin-top: 50px;
    border-radius: 16px;
    margin-bottom: 130px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-title-1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 0px;
}

.banner-title-2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* main section start  */
/* discount section start  */
.discount-container {
    text-align: center;
}

.discount-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.discount-categorie {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-image {
    width: 802.9px;
    height: 500px;
}

/* lastnight section start  */
.lastnight-container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Vectorrr.png");
    width: 1320px;
    height: 600px;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 15px;
}

.lastnight {
    display: flex;
    gap: 90px;
    padding: 0 130px;
    background-repeat: no-repeat;
    align-items: center;
}

.lastnight-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
    line-height: 80px;
}

.lastnight-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* about section start  */
.about-container {
    width: 1320px;
    height: 482px;
    margin: auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    position: relative;
    border-radius: 10px;
    margin-top: 130px;
}

.about-party {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

}

.about {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}

.bio {
    color: #F00;
}

/* best-offer section start  */
.best-offer-container {
    width: 1320px;
    height: 882px;
    display: flex;
    margin: auto;
    gap:50px;
    align-items: center;
}

.best-offer-column {
    margin-right: 100px;
    width: 33%;
}

.comming-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.offer-descrioption {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}

.offer-image {
    border: 15px solid #F00;
    border-radius: 463px;
    padding: 20px;
}


.title-this-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.this-year-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 70px;
}

/* gift-section-start */
.gift-container {
    width: 1320px;
    margin: auto;

}

.gift-introo {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.gift-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.gift-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.gift-row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

/* subscribe section start  */
.subscrib-container {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: auto;
    text-align: center;
    margin-top: 130px;
}

.subscribe {
    padding: 80px 200px;
}

.subscrib-img {
    margin-bottom: 40px;
}


.subscribe-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.subscribe-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 45px;
}

.input-field {
    position: relative;
    text-align: center;

}


label input {
    width: 400px;
    font-size: 20px;
    padding: 15px;
    border: none;
    background: #FFF;
    border-radius: 50px 0px 0px 50px;
}

label>button {
    position: absolute;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    width: 150px;
    padding: 15px;

}

/* footer section start  */
footer {
    background-color: #070211;
    color: #FFF;
    padding: 120px 140px;
    margin-top: 130px;
}

.first-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer>p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

footer>hr {
    border:0.5px solid rgba(255, 255, 255, 0.316);
    
}

.social-link {
    text-align: center;
}

.social-link img {
    width: 64px;
    height: 64px;
    margin: 50px 24px 50px 0px;
}

.third-section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

i{
    margin-right: 5px;
}