* {
    padding: 0;
    margin: 0;
}

/* common shared style  */
section{
    margin-bottom: 130px;
}

/* banner section start  */
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Banner\ Image.png");
    height: 600px;
    width: 1320px;
    margin: auto;
    position: relative;
    text-align: center;
    margin-top: 50px;
    border-radius: 16px;
    margin-bottom: 130px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-title-1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 0px;
}

.banner-title-2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* main section start  */
/* discount section start  */
.discount-container {
    text-align: center;
}

.discount-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.discount-categorie {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-image {
    width: 802.9px;
    height: 500px;
}